* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
}

/* NAVBAR */
.nav-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #f93, #639);
  padding: 1rem 0;
  z-index: 10;
}

.poke-logo {
  width: 55px;
  margin-left: 5.5rem;
}

.links {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-right: 5.5rem;
}

.navbar .links a {
  position: relative;
  display: flex;
  gap: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

nav.sticky {
  padding: 1rem 10rem;
  background-color: #639;
}

/* HEROSECTION */
.hero {
  background-image: url(./images/bluebg.jpg);
  padding: 3.5rem;
}

.choose-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.pokemonlogo-img {
  width: 30%;
}

.main-h {
  color: #99a7c1;
  font-size: 3rem;
  font-weight: bold;
  margin: 1.3rem 0;
}

.pokeball {
  width: 47%;
}

.type-icon {
  position: absolute;
  width: 90px;
  height: 80px;
}

.rock,
.water,
.lightning,
.fire {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

.rock {
  top: 52%;
  left: 30%;
}

.water {
  top: 50%;
  left: 65%;
}

.lightning {
  top: 74%;
  left: 28%;
}

.fire {
  top: 73%;
  left: 64.3%;
}

/* TYPES */
.pokemon-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 4.5rem;
  background: linear-gradient(
    109.6deg,
    rgb(255, 219, 47) 11.2%,
    rgb(244, 253, 0) 100.2%
  );
  padding: 3.5rem;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon {
  width: 69%;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  border: 3px solid #aed8d7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 350px;
  min-height: 460px;
  max-height: 540px;
}

.name-img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.name-type {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0.5rem 1rem;
}

.poke-type {
  width: 100%;
  display: flex;
  justify-content: end;
  color: #928f88;
  font-size: 1.5rem;
  font-weight: 500;
}

.poke-name {
  color: #57a3f8;
  font-size: 2.3rem;
  font-weight: 900;
}

.base-exp {
  color: #fcc000;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.pokemon-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-img img {
  width: 140px;
  height: 130px;
}

.desc-style {
  color: #e0ffff;
  padding: 0.5rem 0.6rem;
  font-size: 1.9rem;
}

.w-h {
  display: flex;
  justify-content: space-between;
  color: #e0ffff;
}

.ul {
  display: flex;
  gap: 1.5rem;
  padding: 0;
  list-style-type: lower-roman;
  list-style-position: inside;
  color: white;
  font-size: 2.2rem;
}

ul.ul li {
  font-size: 1.8rem;
}

.best-moveset {
  margin-top: 1rem;
  font-size: 2rem;
  color: #57a3f8;
}

.line {
  width: 79%;
  margin-left: 7px;
  border-bottom: 2px solid #ffe70e;
}

.see-more {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  width: 60%;
  margin-top: 1rem;
}

.likes {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.5rem 0.8rem;
  font-size: 2rem;
  color: white;
}

.heart {
  display: flex;
  font-size: 4rem;
  color: white;
  cursor: pointer;
}

/* BLUR */
.site-content#blur.active {
  position: relative;
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

/* POPUP */
#popup {
  background-color: #306ab3;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 82%;
  /* height: 79%; */
  padding: 1rem 2rem;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  border-radius: 10px;
}

.close {
  width: 100%;
  display: flex;
  justify-content: end;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

.popup-wrapper {
  display: flex;
  gap: 2rem;
}

.popup-img {
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-img img {
  width: 65%;
}

.popup-description {
  width: 57%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.popup-poke-name {
  font-weight: 900;
  font-size: 2.7rem;
  color: #ff0;
}

.popup-poke-type {
  width: 100%;
  display: flex;
  justify-content: end;
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
}

.popup-base-exp {
  font-size: 1.7rem;
  padding: 0.5rem;
  color: #000;
}

.poke-desc {
  font-size: 1.7rem;
  line-height: 2.3rem;
  padding: 0.5rem;
  color: #333;
}

.popup-w-h {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0.5rem;
  font-size: 1.7rem;
}

.ability {
  padding: 0.5rem;
  font-size: 2.1rem;
  font-weight: 500;
}

.popup-moveset {
  padding: 0.5rem;
  font-size: 2.1rem;
  font-weight: bold;
}

.movesets {
  padding: 0.5rem;
  font-size: 2rem;
  color: #333;
}

#popup.active {
  top: 50%;
  visibility: visible;
  transition: 0.5s;
  opacity: 1;
}

/* COMMENTS */

.comments-wrapper {
  display: flex;
  gap: 2rem;
}

/* PART 1 */
.wrapper-p1 {
  width: 50%;
}

.all-comments {
  font-size: 1.5rem;
  max-height: 176px;
  overflow-y: scroll;
  background-color: #fafafa;
  border-radius: 10px;
}

.heading-1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.comment {
  padding: 0.5rem;
}

.name-com {
  display: flex;
  font-size: 2rem;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.comment-detail {
  color: #555;
}

.comment-line {
  border-bottom: 2px solid #ffe70e;
}

/* PART 2 */
.wrapper-p2 {
  width: 40%;
}

.heading-2 {
  padding: 0.7rem;
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-name {
  padding: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.comment-description {
  padding: 0.5rem;
  height: 80px;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.no-comments {
  font-size: 2rem;
  padding: 1rem;
}

.submit {
  padding: 0.5rem;
  border-radius: 8px;
  width: 50%;
}

/* MEDIA QUERIES */
@media (max-width: 1365px) {
  html {
    font-size: 60%;
  }

  .type-icon {
    position: absolute;
    width: 80px;
    height: 70px;
  }

  .rock {
    top: 45%;
    left: 28%;
  }

  .water {
    top: 43%;
    left: 65%;
  }

  .lightning {
    top: 66%;
    left: 26%;
  }

  .fire {
    top: 65%;
    left: 65%;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 58%;
  }

  .type-icon {
    position: absolute;
    width: 70px;
    height: 60px;
  }

  .rock {
    top: 39%;
    left: 28%;
  }

  .water {
    top: 38%;
    left: 65%;
  }

  .lightning {
    top: 52.7%;
    left: 26%;
  }

  .fire {
    top: 52%;
    left: 65%;
  }

  .pokemon-card {
    grid-template-columns: repeat(2, 1fr);
    padding: 3.5rem 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 54%;
  }

  .type-icon {
    position: absolute;
    width: 50px;
    height: 40px;
  }

  .rock {
    top: 34%;
    left: 28%;
  }

  .water {
    top: 33%;
    left: 65%;
  }

  .lightning {
    top: 44.2%;
    left: 27%;
  }

  .fire {
    top: 44%;
    left: 65%;
  }

  /* .popup-wrapper {
    display: flex;
    flex-direction: column;
  } */

  .pokemon-card {
    grid-template-columns: repeat(1, 1fr);
  }

  .comment-description {
    padding: 0.5rem;
    height: 40px;
  }

  .submit {
    width: 64%;
  }
}

@media (max-width: 580px) {
  html {
    font-size: 50%;
  }

  .links {
    gap: 1rem;
  }

  .navbar .links a {
    font-size: 2rem;
  }

  .pokemon {
    padding: 1rem;
    min-height: 430px;
  }

  .poke-logo {
    width: 32px;
  }

  .type-icon {
    position: absolute;
    width: 30px;
    height: 20px;
  }

  .rock {
    top: 29.5%;
    left: 29%;
  }

  .water {
    top: 29%;
    left: 65.5%;
  }

  .lightning {
    top: 37%;
    left: 27%;
  }

  .fire {
    top: 36.8%;
    left: 64.5%;
  }

  .all-comments {
    max-height: 120px;
  }
}
